@model HomeViewModel

<h1>Лучшие кроссовки</h1>

<div class="row mt-5 mb-2">
    @{ 
        foreach (SneakersModel sm in Model.FavoriteSneakerses)
        {
            @Html.Partial("Sneakerses", sm)
        }  
    }
</div>