@model ShopCartViewModel

@*@if (ViewBag.coincidence)
{
    <div class="alert alert-danger" role="alert"></div>
    <h4 class="alert-heading">Внимание!</h4>
    <p>Вы уже добавили этот товар в корзину</p>
    <hr/>
    <p class="mb-0">Выберите что-то ещё? <a class="nav-link" asp-controller="Sneakerses" asp-action="List">Ссылка на все товары</a>
        </p>
}*@
<div class="container">
    @foreach(var i in Model.ShopCartModel.ShopCartItemModels)
    {
        <div class="alert alert-warning mt-3">
            <b>Кроссовки:</b> @i.SneakersModel.Name <br />
            <b>Цена: </b> @i.SneakersModel.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller ="Order" asp-action="CheckOut">Оплатить</a>
</div>
