<h1>Наша коллекция кросовок</h1>
<h3>@ViewBag.Category</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (SneakersModel sm in Model.Sneakerses)
        {
            @Html.Partial("Sneakerses", sm)
        }
    }
</div>