<h3>@Model.SneakersCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (SneakersModel sm in Model.Sneakerses)
        {
            @Html.Partial("Sneakerses", sm)
        }
    }
</div>