<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">SNEAKERS SHOP</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Sneakerses/List">Все кросовки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Sneakerses/List/Running">Беговые</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Sneakerses/List/Usually">Повседневные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Sneakerses/List/Basketball">Баскетбольные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ShopCart" asp-action="Index" >Корзина</a>
                    </li>
                </ul>
                
                <form class="d-flex" method="get" asp-controller="Home" asp-action="Index">
                    <input value="@ViewData["GetEmployeeDetails"]" name="EmpSearch" class="form-control me-2" type="search" placeholder="Что найти?" aria-label="Search">
                    <button value="Search" class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>

            </div>
        </div>
    </nav>
</header>

<div>
    <div class="container mt-5">
        @RenderBody()
    </div>
</div>

<footer class="container">
    <p class="float-end"><a href="#">Наверх</a></p>
    <p>© 2022 powered by pykot, Inc. · <a href="#">Соглашение</a></p>
</footer>

</body>
</html>